.rightbar{
    flex: 4;
}
.rightWrapper{
    padding: 20px 20px 0 0 ;
    background-color: #141414;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}
.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.birthdayText{
    font-weight: 300;
    font-style: 15px;
    color: #dfdfdf;
}
.rightbarAd{
    width: 100%;
    background-repeat: 10px;
    margin: 30px 0;
}
.rightFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
}


.rightbarTitle{
    color: #dfdfdf;
    margin-bottom: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}

.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #dfdfdf;
}
.rightbarInfoValue{
    font-weight: 300;
    color: #f0f0f0;
}

.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.rightbarFollowingName{
    color: #f0f0f0;
}

.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}